#top-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: red;
}

#main {
    margin: 40px 0;
    top: 0;
    bottom: 0;
    position: fixed;
    background-color: white;
    width: 100%;
}

#bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background-color: yellow;
}

#bottom-bar button {

}

#bottom-bar button.pressed {
    /* make better someday */
    border: solid red 1px;
}

#chart {
    height: 75%;
    width: 100%;
}

#dice {
    position: absolute;
    width: 100%;
    height: 25%;
}

#chits {
    position: absolute;
    text-align: center;
    width: 100%;
    height: 25%;
}

.chit-row {
    margin: 5px 0;
    display: inline-block;
    width: 100%;
}

.chit {
    margin: 0 5px;
}

.hidden {
    display: none;
}